{% extends "base.html" %}
{% block content %}

    <h5>{{ jsonobj.name }}</h5>

    <table class="table table-condensed table-striped">
        <tbody>
            <tr>
                <th>
                    Map<br>Level
                </th>
                <th>
                    Variable<br>Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Size
                </th>
                <th>
                    Vector
                </th>
                <th>
                    Position
                </th>
            </tr>

        {% for member in jsonobj.members %}
            <tr>
                <td>
                    {{ member.map_level }}
                </td>
                <td>
                    {{ member.leading_spaces }}{{ member.viewer_name }}
                </td>
                <td>
                    {{ member.type_string }}
                </td>
                <td>
                    {{ member.size }}
                </td>
                <td>
                </td>
                <td>
                    {{ member.offset_string + 1 }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}